:root{
  --pri-color:       #991212;
  --pri-color-light: #dd4e4e;
  --sec-color:       #550202;
  --mywhite:         #fff;
  --myblack:         rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
::-webkit-scrollbar{
    width: 8px;
    border-radius: 5px;  
}

::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    border-radius: 5px;
}

.main-footer {
    background-color: var(--black);
    color: var(--ter-color);
    padding: 32px;
    bottom: 0;
    width: 100%;   
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

