.main-nav {
    width: 100%;
    box-sizing: content-box;
    box-shadow: 1px 1px 15px black;
    background: rgba(0, 0, 0, 0.295);
    color:var(--mywhite);
    position: fixed;
    border-bottom: var(--ter-color) 1px solid;
    z-index: 1;
}
.hidden{
    display: none;
}

.menu-button {
    background: none;
    border: none;
    vertical-align: middle;
    display: none;
}

.menu-button img{
    filter:invert()
}

.mu-logo {
    max-width: 6em;
    vertical-align: middle;
    padding-left: 20px;
}

.main-nav__div {
    display: inline-block;
    text-align: right;
    width: calc(100% - 210px);
    margin: 0;
    padding: 0
}

.main-nav__items {
    display: inline-block;
    text-align: right;
    margin-right: 4em;
}

.main-nav__item {
    list-style: none;
    display: inline-block;
    padding: 6px 1rem; 
}

a {
    color:var(--ter-color);
    text-decoration: none;
    background-image: 
        linear-gradient(
            transparent 0%,
            transparent 90%,
        );
        transition:  300ms;
}

ul{ 
    margin: 0
}

.main-nav__item a:hover{
    background-size: 100% 100%;
    background-position-x: left;
    color:var(--pri-color-light);
}

.full-apk{
    padding: 8px;
    
    border-radius: 8px;
    background: var(--pri-color);
}

.full-apk a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.full-apk a:hover{
    color:var(--ter-color)
}

.full-apk:hover{
    background: var(--pri-color-light);
    transition: 300ms;
    color: var(--ter-color)
}
@media (max-width:650px) {
    .main-nav__div{
        display: none
    }
    .mu-logo {
        max-width: 5em;
        vertical-align: middle;
        padding-left: 20px;
    }
    .menu-button, .menu-button img {
        display: inline-block;
        max-width: 3em;
    }
}

@media (min-width: 650px){
    .menu-button, .menu-button img {
        display: none;
        max-width: 2em;
        filter: invert();
    }
}
