.main-footer{
    text-align:center;
    bottom: 0;
    margin-top: 60px;
    background-color: var(--myblack);
    color: var(--mywhite)
}

.footer-list {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 10px;    
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.footer-list li a:hover{
    color: var(--pri-color-light)
}

@media (max-width:420px){
    .footer-nav{
        display: block;
        text-align: center
    }
    .footer-list li{
        text-align: center;
    }
}

.social-media{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
    margin: 7px 0;
}

.social-media h2{
    text-align: center;
}

.social-media img{
    display: block;
    max-width: 2em;
    margin: auto;
}


