:root{
    --pri-color:       #991212;
    --pri-color-light: #dd4e4e;
    --sec-color:       #550202;
    --mywhite:           rgb(223, 223, 223);
    --myblack:           rgb(0, 0, 0);
}

@keyframes top-appear{
    0% {opacity: 0}
    100% {opacity: 1}
}

.banner-title {
    width: fit-content;
    margin: 18px auto;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-size: 2em;
    color: var(--sec-color);
    line-break: auto;
    animation: top-appear 2s;
}
.header-image{
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}