:root{
    --pri-color:       #991212;
    --pri-color-light: #dd4e4e;
    --sec-color:       #550202;
    --mywhite:           rgb(223, 223, 223);
    --myblack:           rgb(0, 0, 0);
}

.section-title{
    font-family: 'Cinzel Decorative', cursive;
    color: var(--mywhite);
}
.clearfix{clear:both}

.posts section {
    box-shadow: 2px 5px 15px black;
}

/*===============DETALHES SERVIDOR START=====================*/
#detalhes-servidor{
    background-color: var(--myblack);
    margin-top: 80px;
    padding: 20px;
    border: 4px solid var(--sec-color);
    border-right: none;
    margin: 16px 0;
    padding: 40px;
    width: 80%;
    position: relative;
    top: 40px;
    float: right
}

#detalhes-servidor .section-title{
    margin: 32px;
    text-align: right;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

.key-feature__image{
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 128px;
    height: 128px;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: var(--mywhite);
}

/*===============DETALHES SERVIDOR END=======================*/


/*===============CRIAR PERSONAGEM START=======================*/

#criar-personagem {
    background-color: var(--myblack);
    border: 4px solid var(--sec-color);
    border-left: none;
    margin: 16px 0;
    padding: 40px;
    width: 80%;
    position: relative;
    top: 40px;
}

#criar-personagem .section-title{
    color: var(--mywhite);
    margin: 32px;
    text-align: left;
}

#criar-personagem .key-features__list{
    width: 100%;
    
}

#criar-personagem li{
    display: inline-block;
    margin: 0 auto;
}

.key-feature__image{
    text-align: center;
    display: block;
    background-repeat: no-repeat;
}

#criar-personagem ul, #criar-personagem img{
    display: inline-block;
}

#criar-personagem .feature{
    text-align: center;
    display: inline-block;
}

.key-features__list .feature{
    display: inline-block;
    text-align: justify;
    margin: auto;
}



#chest, #gold, #npc{
    margin: auto;
}

#npc{
    background-image: url('./img/119.png');
    width: 13rem;
    height: 13rem;
    
}

#chest{
    background-image: url('/img/icons/treasure.png');
    width: auto;
}
#gold{
    background-image: url('/img/icons/coins.png');
    width: auto;
}

/*===============CRIAR PERSONAGEM END=======================*/

/*=====================beneficios START==========================*/

#beneficios{
   margin-top: 6em;
   background-color: var(--myblack);
   padding: 20px;
   color: white;
   text-align: center;
}
.card{
    display: block;
    width: 100%;
    margin: auto 0;
}
#beneficios .key-features__list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 95%;
    height: 80vh;
    margin: auto;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    padding: 5px;
}

#beneficios .key-feature{
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    padding: 10px;
    margin: 0 8px;
    min-width: 79%;
    border: #ffffff solid 1px;
    background-color: var(--pri-color);
}

#beneficios .key-feature__image{
    background-image: url('./img/pet.png');
    margin: 0 auto;
    width: auto;
    height: 25rem;
    
}

#beneficios .key-feature .key-feature__description{
    text-align: center;
}

#beneficios ::-webkit-scrollbar{
    height: 8px;
    border-radius: 5px;  
}

::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    border-radius: 5px;
}

/*======================beneficios END===========================*/

/*===============RESPONSIVIDADE START=======================*/

@media (max-width:500px){
    #detalhes-servidor .key-features__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .key-feature .key-feature__description{
        justify-content: center;
        padding: 0;
        margin: 6px 0;
    }

    #criar-personagem ul{
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media (max-width:1000px){
    .key-feature{
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
}

/*===============RESPONSIVIDADE END=======================*/